

:root {
    --primary-color: #F7F9FB;
    --secondary-color: #687864;
    --tertiary-color: #31708E;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Lato', sans-serif;
  }

  header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    opacity: .9;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }

  header nav {
      margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  .hero img {
    height: 50vh;
    border-radius: 50%;
  }
  
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }

  .bio-title {
    color: var(--tertiary-color);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }

  .more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    color: var(--tertiary-color);
    font-size: 28px;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }

  .projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 28px;
    color: var(--tertiary-color);

  }

  hr {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .project-container:nth-child(1) {
    width: 75%;
    height: 50%
  }

  .project-container p {
    padding: 0.4rem;
  }
 

  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

  .project-link {
    color: var(--tertiary-color);
    font-weight: bold;
  }